In [ ]:
#Create a list, dictionary by generating random numbers
#Now make a list and a dataframe
#Then create dataframes from these lists
#Iterate over this dataframe row by row
#Time the program (you can use jupyter cell-magic function called %%time or just give the output of python file execution in console)
#Finally, make a note, that never iterate row-wise over dataframes.

In [14]:
import random
import pandas as pd
import itertools

In [7]:
#creating an empty list
ran_list = []
#applying for loop with range to get specific number of values
for i in range (10,50):
    #Giving it a range from where it can pick numbers 
    y = random.randint(20,70)
    #using append to add the numbers from y to the empty list i-e ran_list
    ran_list.append(y)
print (ran_list)

[32, 23, 41, 44, 53, 49, 69, 52, 39, 45, 21, 46, 55, 26, 48, 46, 48, 34, 35, 64, 69, 53, 53, 47, 58, 28, 31, 60, 32, 54, 67, 68, 31, 34, 33, 69, 31, 41, 44, 65]

In [12]:
# creating a dictionary
dict = {"KEY": ran_list}
dict

{'KEY': [32,
  23,
  41,
  44,
  53,
  49,
  69,
  52,
  39,
  45,
  21,
  46,
  55,
  26,
  48,
  46,
  48,
  34,
  35,
  64,
  69,
  53,
  53,
  47,
  58,
  28,
  31,
  60,
  32,
  54,
  67,
  68,
  31,
  34,
  33,
  69,
  31,
  41,
  44,
  65]}

In [15]:
#list to dataframe
yos_dataframe = pd.DataFrame(ran_list)
yos_dataframe

     0
0   32
1   23
2   41
3   44
4   53
5   49
6   69
7   52
8   39
9   45
10  21
11  46
12  55
13  26
14  48
15  46
16  48
17  34
18  35
19  64
20  69
21  53
22  53
23  47
24  58
25  28
26  31
27  60
28  32
29  54
30  67
31  68
32  31
33  34
34  33
35  69
36  31
37  41
38  44
39  65

In [17]:
%%time
for index, row in yos_dataframe.iterrows():
    print(row)

0    32
Name: 0, dtype: int64
0    23
Name: 1, dtype: int64
0    41
Name: 2, dtype: int64
0    44
Name: 3, dtype: int64
0    53
Name: 4, dtype: int64
0    49
Name: 5, dtype: int64
0    69
Name: 6, dtype: int64
0    52
Name: 7, dtype: int64
0    39
Name: 8, dtype: int64
0    45
Name: 9, dtype: int64
0    21
Name: 10, dtype: int64
0    46
Name: 11, dtype: int64
0    55
Name: 12, dtype: int64
0    26
Name: 13, dtype: int64
0    48
Name: 14, dtype: int64
0    46
Name: 15, dtype: int64
0    48
Name: 16, dtype: int64
0    34
Name: 17, dtype: int64
0    35
Name: 18, dtype: int64
0    64
Name: 19, dtype: int64
0    69
Name: 20, dtype: int64
0    53
Name: 21, dtype: int64
0    53
Name: 22, dtype: int64
0    47
Name: 23, dtype: int64
0    58
Name: 24, dtype: int64
0    28
Name: 25, dtype: int64
0    31
Name: 26, dtype: int64
0    60
Name: 27, dtype: int64
0    32
Name: 28, dtype: int64
0    54
Name: 29, dtype: int64
0    67
Name: 30, dtype: int64
0    68
Name: 31, dtype: int64
0    31
Name: 32, dtype: int64
0    34
Name: 33, dtype: int64
0    33
Name: 34, dtype: int64
0    69
Name: 35, dtype: int64
0    31
Name: 36, dtype: int64
0    41
Name: 37, dtype: int64
0    44
Name: 38, dtype: int64
0    65
Name: 39, dtype: int64
CPU times: total: 0 ns
Wall time: 16.9 ms

Avoid iterating row-wise over DataFrames in pandas because it can be slow and inefficient, particularly for large datasets. It's like checking each item in a long list individually, which takes a lot of time. Instead, use special methods provided by pandas, as they offer faster and more efficient ways to work with the data.

Reasons to Avoid Iterating Row-Wise:

Slow Performance: Iterating row by row can be slow, especially with large datasets, as it checks each row individually.
Inefficient: Checking each row individually is inefficient compared to using pandas' built-in methods.
Potential Bottleneck: Row-wise iteration can become a bottleneck in your code, leading to longer execution times.

Pandas Shortcuts to Use Instead:
Vectorized Operations: Perform operations directly on entire columns or use NumPy universal functions (ufuncs) for element-wise operations.
Built-in Pandas Functions: Use functions like sum(), mean(), max(), min(), count(), etc., which operate on entire columns efficiently.
Apply Function: Apply a custom function to each row or column using the apply() function.
Map Function: Apply a function element-wise to a Series using the map() function.
Grouping and Aggregation: Use groupby() and agg() for efficient grouping and aggregation operations.
Filtering: Use boolean indexing to filter rows based on conditions.
Using these shortcuts makes your code faster, more efficient, and easier to read, compared to iterating row-wise over DataFrames.